.todo {
  width: 100%;
  background-color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 10px 0px 10px 5px;
  margin: 20px 0px;
  border-radius: 5px;
}

.todo li {
  flex: 1;
  color: #000;
}

.checked,
.delete {
  background-color: #fff;
  border: none;
  font-size: 23px;
  margin: 8px;
  cursor: pointer;
}

button i {
  pointer-events: none;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

@media screen and (max-width: 872px) {
  .checked,
  .delete {
    font-size: 22px;
  }
}

@media screen and (max-width: 560px) {
  .todo {
    height: 6vh;
  }
}
