.mainBoard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.board {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 30px;
}

.mainBoard .heading {
  width: 34%;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #e3e3e3;
}

.style-for-row {
  margin-bottom: 30px;
}
