.h-wrapper{
    margin: 8px;
}

.h-wrapper h1 {
    text-align: center;
    letter-spacing: 2px;
}

.h-wrapper marquee{
    font-family: 'Marcellus', serif;
    font-size: 25px;
}

.h-wrapper .float-text{
    position: fixed;
    bottom: 0px;
    background-color: purple;
    color: white;
    z-index: 10;
}