.navBar {
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: bolder;
  border-bottom: 1px solid black;
  background-color: #ffffff;
}

.logoContainer {
  margin-left: 5%;
}

.image {
  background: url("https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png");
  background-size: 1404px 105px;
  width: 53px;
  height: 36px;
  background-position: -462px 0;
  display: inline-block;
}

.input-query {
  display: inline-block;
  margin: 0 5% 0 7%;
  position: relative;
}

.input-query input {
  height: 5vh;
  width: 400px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.5px;
  outline: none;
  padding: 10px 15px 10px 40px;
  border: none;
  color: #696e79;
  background-color: #f5f5f6;
  border-radius: 5px;
}

.input-query i {
  position: absolute;
  color: #696e79;
  top: 1.5vh;
  left: 8px;
  font-size: 17px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 20px;
}

/* Drop Down Menu */

header {
  padding: 0px 20px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: left;
  position: relative;
}

header nav ul li a {
  font-size: 17px;
  padding: 20px;
  color: #000;
  display: block;
  text-decoration: none;
}

header nav ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #ffffff;
  z-index: 100;
  display: none;
}

header nav ul li ul li {
  width: 100%;
  border-top: 1px solid #000;
}

header nav ul li ul li ul {
  left: 200px;
  top: 0;
}

header nav ul li:hover > ul {
  display: initial;
}
