@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #a0d7ff;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(48, 69, 146, 0.25) 70%,
    #58587f 100%
  );
}
