.boardInput {
  display: inline-block;
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border: 2px solid #91b6e7;
  border-radius: 10px;
  margin: 4px;
  padding-top: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boardInput.active {
  background-color: #b980ff;
  position: relative;
  z-index: 10;
  scale: 1.4;
  color: #fff;
  border: none;
  pointer-events: none;
}

.style-for-col {
  margin-right: 30px;
}

.boardInput:hover,
.boardInput.rowCol {
  background-color: #e2ccff;
  color: #fff;
  border: none;
}
