.head-1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.head-1 .svg_1 {
  position: absolute;
  left: -25%;
  top: -55%;
  transform: rotateZ(-15deg);
  color: #004aad;
  z-index: -1;
}

.head-1 .svg_2 {
  position: absolute;
  right: -80%;
  z-index: -1;
}

.head-1 img {
  width: 43%;
  height: 80%;
  position: relative;
  top: 90px;
  left: 40px;
  user-select: none;
}

.text {
  width: 50%;
  margin-left: 40%;
  margin-top: -25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  gap: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #021b79, #0575e6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  padding: 8px 18px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #480ca8;
  color: #fff;
}

.liners {
  margin-top: 210px;
  margin-left: 64%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 500px;
  color: #5c677d;
}

.liners span:nth-child(1) {
  color: #000;
}

/* @media screen and (max-width: 872px) {
  .svg_1 {
    top: -25%;
    transform: rotateZ(22deg);
  }

  .svg_2 {
    display: none;
  }

  .head-1 img {
    width: 49%;
    height: 64%;
    top: 124px;
    left: 41px;
  }

  .text {
    font-size: 40px;
    margin-left: 40%;
  }
  .btn {
    font-size: 16px;
  }
  .liners {
    font-size: 14px;
  }
} */
