.head-1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.head-1 .svg_1 {
  position: absolute;
  left: -25%;
  top: -55%;
  transform: rotateZ(-15deg);
  color: #004aad;
  z-index: -1;
}

.head-1 .svg_2 {
  position: absolute;
  right: -80%;
  z-index: -1;
}

.head-1 img {
  width: 43%;
  height: 80%;
  position: relative;
  top: 90px;
  left: 40px;
  user-select: none;
}

.text {
  width: 50%;
  margin-left: 40%;
  margin-top: -25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  gap: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #021b79, #0575e6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  padding: 8px 18px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #480ca8;
  color: #fff;
}

.liners {
  margin-top: 210px;
  margin-left: 64%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 500px;
  color: #5c677d;
}

.liners span:nth-child(1) {
  color: #000;
}

@media screen and (max-width: 872px) {
  .head-1 .svg_1 {
    top: -25%;
    transform: rotateZ(22deg);
  }

  .svg_2 {
    display: none;
  }

  .head-1 img {
    width: 48%;
    height: 64%;
    top: 108px;
    left: 75px;
  }

  .text {
    font-size: 40px;
    margin-left: 52%;
  }
  .btn {
    font-size: 16px;
  }
  .liners {
    font-size: 14px;
    margin-left: 38%;
  }
}

@media screen and (max-width: 560px) {
  .head-1 .svg_1 {
    top: -23%;
    transform: rotateZ(65deg);
  }

  .head-1 img {
    width: 52%;
    height: 51%;
    top: 14px;
    left: 23px;
  }

  .text {
    width: 100%;
    font-size: 36px;
    margin-left: 7%;
    margin-top: -3%;
  }

  .btn {
    font-size: 14px;
  }

  .liners {
    font-size: 13px;
    margin-left: 7%;
    margin-top: 97px;
  }
}

@media screen and (max-width: 400px) {
  .head-1 .svg_2 {
    display: block;
    transform: rotateZ(94deg);
    right: -5%;
    bottom: -4px;
  }

  .head-1 img {
    display: none;
  }

  .text {
    height: 100vh;
    margin-left: 0%;
    margin-top: 1%;
  }

  .liners {
    font-size: 12px;
    margin-left: -37%;
    margin-top: -50px;
    color: #e0e0e0;
  }

  .head-1 .svg_1 {
    transform: rotateZ(75deg);
  }
}
