@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@font-face {
  font-family: Gumela;
  src: url('../src/fonts/Gumela Regular.otf');
}



*{
  font-family: Gumela,'sans-serif';
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url('./images/back.jpg');
}

::-webkit-scrollbar {
  width: 10px;
  z-index: -10;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: #ccd5ae; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
  transform: scale(1.1);
}