@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
