.to-do {
  height: 100%;
  width: 100%;
  text-align: center;
}

.disp {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.to-do .to-do-heading {
  font-size: 3rem;
  font-weight: 600;
  padding: 7rem 0 4rem 0;
  color: #fff;
  /* background: #2980b9; 
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); 
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  );

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
}

.input {
  width: 20rem;
  position: relative;
}

.input input {
  width: 100%;
  padding: 10px 13px;
  height: 4.5vh;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
}

.input i {
  position: absolute;
  top: 0;
  right: 3px;
  width: 30px;
  font-size: 35px;
  cursor: pointer;
  z-index: 10;
}

.to-do-list {
  width: 25rem;
  text-align: start;
}

@media screen and (max-width: 872px) {
  .input input {
    height: 5vh;
  }

  .input i {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 31px;
    font-size: 32px;
    cursor: pointer;
    z-index: 10;
  }
}

@media screen and (max-width: 560px) {
  .to-do .to-do-heading {
    font-size: 2.5rem;
  }

  .input input {
    height: 6vh;
  }
}

@media screen and (max-width: 400px) {
  .to-do-list {
    width: 19rem;
  }

  .to-do .to-do-heading {
    padding: 5rem 0 4rem 0;
  }

  .input {
    width: 19.5rem;
  }
}
