.to-do {
  height: 100%;
  width: 100%;
  text-align: center;
}

.disp {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.to-do .to-do-heading {
  font-size: 3rem;
  font-weight: 600;
  padding: 7rem 0 4rem 0;
}

.input {
  width: 20rem;
  position: relative;
}

.input input {
  width: 100%;
  padding: 10px 13px;
  height: 4.5vh;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
}

.input i {
  position: absolute;
  top: 0;
  right: 3px;
  width: 30px;
  font-size: 35px;
  cursor: pointer;
  z-index: 10;
}

.to-do-list {
  width: 25rem;
  text-align: start;
}
