@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}

.pane {
  overflow-y: auto;
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.sidebar--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar--header > h3 {
  font-size: 1.75rem;
}

.new-note {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 30px;
}

.first-note {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}

.editor {
  width: 80%;
  height: 100vh;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title--delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #4a4e74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-note {
  background-color: #4a4e74;
}

.selected-note .text-snippet {
  color: white;
  font-weight: 700;
}

.gutter {
  background-color: #000000;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}
